inst/dtd/dataframe.dtd

<!-- dataframe DTD version="0.01" -->
<!-- defines dataframes as StatDataML documents -->
<!ELEMENT StatDataML (description?, dataset?)>
<!ELEMENT description (title?, source?, date?, version?, comment?, creator?, SDMLclass?)>
<!ELEMENT title (#PCDATA) >
<!ELEMENT source (#PCDATA) >
<!ELEMENT date (#PCDATA) >
<!ELEMENT version (#PCDATA) >
<!ELEMENT comment (#PCDATA) >
<!-- adding creator and class, creator: application:implementation -->
<!-- class: the name of the StatDataML class (a restriction of StatDataML) -->
<!ELEMENT creator (#PCDATA) >
<!ELEMENT SDMLclass (#PCDATA) >
<!-- a dataframe is a list of arrays with equal length of the first dimension -->
<!ELEMENT dataset (list)>
<!ELEMENT list (dimension, properties?, listdata) >
<!ELEMENT properties (list)>
<!ELEMENT listdata (array)*>
<!-- arrays include data (that is, the array as vector, if the array -->
<!-- is numeric or of chdata, is its not -->
<!-- dimnames moves to properties -->
<!ELEMENT array ( dimension, properties?, (data | chdata*))>
<!ELEMENT data (#PCDATA) >
<!-- we do need a seperator and a na.string for scan -->
<!ATTLIST data sep CDATA " " na.string CDATA "NA" null.string CDATA "NULL" mode CDATA " ">
<!ELEMENT chdata (e*) >
<!ATTLIST chdata na.string CDATA "NA" null.string CDATA "NULL" mode CDATA " ">
<!-- for char data elements -->
<!ELEMENT e (#PCDATA) >
<!-- save dimnames the array style (one line) -->
<!ELEMENT dimension (e*) >
