inst/dtd/StatDataML.dtd

<!-- StatDataML DTD version="0.3" -->

<!ELEMENT StatDataML (description?, dataset?)>

<!ELEMENT description (title?, source?, date?, version?, comment?, creator?, class?, properties?)>
<!ELEMENT title (#PCDATA) >
<!ELEMENT source (#PCDATA) >
<!ELEMENT date (#PCDATA) >
<!ELEMENT version (#PCDATA) >
<!ELEMENT comment (#PCDATA) >
<!ELEMENT creator (#PCDATA) >
<!ELEMENT class (#PCDATA) >

<!ELEMENT dataset (list | array)>

<!ELEMENT list (dimension, properties?, listdata) >
<!ELEMENT listdata (list | array | empty)*>

<!ELEMENT empty EMPTY>

<!ELEMENT array (dimension, properties?, nominalCategories?, (data | textdata))>

<!ELEMENT nominalCategories (label)+>
<!ELEMENT label (#PCDATA)>
<!ATTLIST label code CDATA #REQUIRED>

<!ENTITY % TYPES "logical|nominal|numeric|character|datetime">
<!ENTITY % MODES "unordered|ordered|cyclic|integer|real|complex">

<!ELEMENT data (e|ce|na)* >
<!ATTLIST data true  CDATA "1"
               false CDATA "0"
               type (%TYPES;) "character"
               mode (%MODES;) #IMPLIED>

<!ELEMENT textdata (#PCDATA) >
<!ATTLIST textdata sep CDATA " \n" 
                   na.string CDATA "NA" 
                   null.string CDATA "NULL" 
		   posinf.string CDATA "+Inf"
		   neginf.string CDATA "-Inf"
		   nan.string    CDATA "NaN"
		   true CDATA "1"
		   false CDATA "0"
                   type (%TYPES;) "character"
                   mode (%MODES;) #IMPLIED>

<!ELEMENT na EMPTY>

<!ENTITY % REAL "#PCDATA|posinf|neginf|nan">

<!ELEMENT e (%REAL;)* >
<!ELEMENT posinf EMPTY>
<!ELEMENT neginf EMPTY>
<!ELEMENT nan EMPTY>

<!ELEMENT ce (r,i) >
<!ELEMENT r (%REAL;)* >
<!ELEMENT i (%REAL;)* >

<!ELEMENT dimension (dim*)>
<!ELEMENT dim (e*)>
<!ATTLIST dim size CDATA #REQUIRED>
<!ATTLIST dim name CDATA #IMPLIED>

<!ELEMENT properties (list)>


 